*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body{
    width: 100%;
    height: 100%;
    
}
a{
    color:rgb(234, 236, 219);
}
.nav-bar{
    width:100%;
    height:10%;
    background-color:rgb(242, 188, 61);
    position:relaive;
    display:flex;
    justify-content:space-between;
    border: solid 2px;

}
.Logo{
    color:black;
    margin: 40px;
    padding:5px 30px;
    


}
.addnote{
    
    color:black;
    margin: 40px;
    padding:5px 30px;
    width:7%;
    height:30%;
    background-color:rgb(29, 30, 22);
    border:solid;
    border-color: antiquewhite;
}
 .Home{

    color:black;
    margin: 40px;
    padding:5px 30px;
    width:5%;
    height:30%;
    background-color:rgb(29, 30, 22);
    border:solid;
    border-color: antiquewhite;
   
}
.About{
    color:black;
    margin: 40px;
    padding:5px 30px;
    width:5%;
    height:30%;
    background-color:rgb(29, 30, 22);;
    border:solid;
    border-color: antiquewhite;
    
}
.Login{
    color:black;
    margin: 40px;
    padding:5px 30px;
    width:5%;
    height:30%;
    background-color:rgb(29, 30, 22);;
    border:solid;
    border-color: antiquewhite;
   
}
.main{
    width:100%;
    height:100%;
    display: flex;
  
    background-color: antiquewhite;
   
}
.section{
    width:30%;
    height:80%;
    margin: 20px;
    border:solid;
    padding:10px;
    background-color:rgb(231, 222, 199);;
    border-radius:20px;
   
    
    
}
.des-h3{
    width: 70%;
    padding : 10px 20px;
    height:70px;
    border:solid;
    border-radius:30px;
    background-color:rgb(84, 80, 72);
}
.title-class{

    width:100%;
    height:10%;
    background-color:rgb(240, 188, 56);
    border:solid;
    border-width:2px;

}
.description{
    background-color:rgb(201, 212, 231);
    width:100%;
    height:60%;
    margin:20px 2px;
    padding: 20px;
    border-style:solid;
    border-color: brown;
    border-radius:10%
}
.dele-button{

    display:flex;
    justify-content: center;
    margin:50px auto;
    position:relative;
    gap:10em;
    
   
    
}
button{
    width:20%;
    top:50%;
    background-color: #0a0a23;
    color:black;
    border:none;
    border-radius:10px;
    box-shadow:0px 0px 2px 2px rgb(0,0,0);
    margin: 0px 20px ;
    
}
.addnotes{
    background-color: white;
    padding:40px;
    width:80%;
    height:50%;
    margin:10% 20%;
    border:solid;
    border-color:rgb(163, 163, 223);
    
}

