<nav class="nav-bar">
    <div class="Logo">
    
        <h1> My Notes </h1>  
    </div> 
    <div class="Home">
        <ul class="Home-ul">
            <a href={%url 'home-idx'%}> Home</a> 
        </ul> 
    </div> 
    <div class="addnote">
        <ul class="addnote-ul">
            <a href={%url 'add-note'%}>Add Note</a> 
        </ul> 
    </div>
    <div class="About">
        <ul class="About-ul">
            <a href={url ''}> About</a> 
        </ul> 
    </div>
    <div class="Login">
        <ul class="Login-ul">
            <a href={url ''}> Login</a> 
        </ul> 
    </div>

</nav>